In [1]:
#import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OrdinalEncoder

In [51]:
def wrangle(csv_file):

    #read file
    df = pd.read_csv(csv_file)
    
    #leaky columns
    cols_to_drop = []

    #recast target
    df['Transported'] = df['Transported'].astype(int)

    #identify multicollinearity

    
    #high cardinality features   
    cols_to_drop.extend(['PassengerId', 'Name', 'Cabin'])
    
    

    #drop columns
    df.drop(columns=cols_to_drop, inplace=True)

    return df

In [52]:
df = wrangle('train.csv')
df.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,0
1,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,1
2,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,0
3,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,0
4,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,1

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8492 non-null   object
 1   CryoSleep     8476 non-null   object
 2   Destination   8511 non-null   object
 3   Age           8514 non-null   float64
 4   VIP           8490 non-null   object
 5   RoomService   8512 non-null   float64
 6   FoodCourt     8510 non-null   float64
 7   ShoppingMall  8485 non-null   float64
 8   Spa           8510 non-null   float64
 9   VRDeck        8505 non-null   float64
 10  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(4)
memory usage: 687.8+ KB

In [43]:
cat = df.select_dtypes('object').columns

print(df[cat].nunique())
print("*****************")

HomePlanet     3
CryoSleep      2
Destination    3
VIP            2
dtype: int64
*****************

In [44]:
df['Transported'].astype(int).head()

0    0
1    1
2    0
3    0
4    1
Name: Transported, dtype: int64